div.cart-empty-container {
  margin: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

div.cart-empty-box {
  text-align: center;
}

.cart-empty-box > img {
  object-fit: contain;
  width: 222px;
  height: 162px;
}

div.cart-box {
  display: grid;
  margin: 10px;
  grid-template-columns: 1fr 0.4fr;
  column-gap: 2vmax;
}

div.cart-products-pricing {
  position: sticky;
  top: 0px;
  height: max-content;
  background: #fff;
}

.cart-products-pricing .card-header > p {
  color: #878787;
  margin: 0px;
  font-weight: 500;
}

.cart-products-pricing div.card-body > div {
  display: flex;
  justify-content: space-between;
}

.cart-products-pricing div.card-body {
  padding-bottom: 0px;
}

div.total-amount-box > p {
  font-weight: 500;
  font-size: 20px;
}

div.total-amount-box {
  border-top: 1px dotted;
  border-bottom: 1px dotted;
  padding-top: 10px;
}
