.cartContainer {
  width: 90%;
  margin: auto;
}
.cartHeader {
  background-color: orange;
  display: flex;
  color: white;
}

.cartHeader > :last-child {
  text-align: end;
  flex-basis: 20%;
}

.cartHeader > :first-child {
  flex-basis: 60%;
}

.cartHeader > :nth-child(2) {
  flex-basis: 20%;
}

.product {
  display: flex;
  align-items: center;
}

.product-quantity {
  flex-basis: 20%;
}

.product-quantity input[type="number"] {
  display: inline-block;
  max-width: 40px;
  box-sizing: border-box;
}

.product-quantity > button {
  width: 20px;
}

.product-price {
  text-align: end;
  flex-basis: 20%;
}

.cart-card {
  flex-basis: 60%;
}

.cartGrossPriceHeader {
  display: flex;
  justify-content: flex-end;
}

.cartGrossPriceHeaderBox {
  flex-basis: 40%;
}

.cartGrossTotalPrice {
  display: flex;
  justify-content: space-between;
}

.cartGrossPriceHeaderBox > button {
  color: aliceblue;
  margin-top: 20px;
}

.cartCheckOutButton {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0px;
}

.cartCheckOutButton > a {
  padding: 10px 25%;
  background-color: orange;
  border-radius: 10px;
  size: 10px;
  border: none;
}

.emptyCart {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
}

.emptyCart > img {
  height: 50vh;
  width: 50vw;
}

.emptyCart > a {
  margin: 20px;
}
