div.shipping-container {
  padding: 20px;
}

div.address-content > span:first-of-type {
  font-weight: 500;
}

div.address-content > span:last-of-type {
  margin-left: 5px;
}

div.address-box {
  margin: 5px 0;
  padding: 10px 10px;
  background-color: #fcf5ee;
  border: 1px solid #fbd8b4;
  border-radius: 5px;
}
