div.create-address-box {
  height: 266px;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.address-content-box > .card-body > li {
  list-style: none;
}

div.address-container-box {
  margin: 4vmax;
}
