.password-box {
  display: flex;
}

.email-box {
  display: flex;
}

.changePasswordContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}

.changePasswordBox {
  background-color: whitesmoke;
  width: 30vmax;
}

.changePassword-form > .email-box,
.changePassword-form > .password-box {
  margin: 20px;
  align-items: center;
}

.changePassword-form > .email-box > input,
.changePassword-form > .password-box > input {
  width: 100%;
  padding: 10px 30px;
}

.changePassword-form > .email-box > svg,
.changePassword-form > .password-box > svg {
  position: absolute;
  margin: 0 5px;
}

.changePassword-form > input[type="submit"] {
  margin: 20px;
  padding: 10px 20px;
  width: 90%;
  color: white;
  border: 1px solid;
  background-color: orange;
  cursor: pointer;
}

.changePassword-form {
  position: relative;
}

.changePassword-form > a {
  display: inline;
  position: relative;
  left: 63%;
}

.changePassword-form > .profileImage > img {
  height: 25px;
}

.changePassword-form > .name-box,
.changePassword-form > .email-box,
.changePassword-form > .password-box,
.changePassword-form > .profileImage {
  display: flex;
  align-items: center;
  margin: 20px;
}

.changePassword-form > .name-box > input,
.changePassword-form > .email-box > input,
.changePassword-form > .password-box > input {
  width: 100%;
  padding: 10px 30px;
}

.changePassword-form > .name-box > svg,
.changePassword-form > .email-box > svg,
.changePassword-form > .password-box > svg {
  position: absolute;
  margin: 0 5px;
}
