div.login-container {
  box-sizing: border-box;
  height: 80vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.login-box {
  padding: 50px;
  width: 40%;
}

div.login-btn {
  margin-top: 1rem;
}

div.login-box > div:last-of-type {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

div.login-box > div:last-of-type > a {
  text-decoration: none;
}
