div.resetpassword-container {
  box-sizing: border-box;
  height: 80vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.resetpassword-box {
  padding: 50px;
  width: 50%;
}

div.resetpassword-btn {
  margin-top: 1rem;
}
