div.my-profile-box {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

div.my-profile-container {
  margin: 10px 100px;
}

div.my-profile-box div.row {
  padding: 10px;
}

div.my-profile-box img {
  object-fit: contain;
  height: 60px;
}

div.my-profile-box > div :hover {
  background-color:  rgba(86, 247, 12, 0.861);
}
