.header {
  display: flex;
  min-height: 60px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: #2455f4;
  color: white;
}

.header a {
  text-decoration: none;
  color: white;
  margin: 0 1vmax;
}

.header input[type="search"] {
  min-height: 40px;
  flex-basis: 30vmax;
  background-color: white;
  padding: 0 10px;
  border: none;
}

.header input[type="submit"] {
  min-height: 30px;
  min-width: 100px;
  margin: 10px;
  background-color: white;
  border: none;
  cursor: pointer;
}

