#footer {
  display: flex;
  background-color: whitesmoke;
  color: black;
  box-sizing: border-box;
  padding: 1vmax;
}

.leftFooter {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.leftFooter > img {
  margin-top: 1vmax;
  width: 8vmax;
  cursor: pointer;
}

.leftFooter > p {
  margin-top: 1vmax;
  font-size: 1vmax;
}

.leftFooter > h4 {
  font-size: 1.5vmax;
}

.midFooter {
  width: 60%;
  align-self: center;
  text-align: center;
}

.midFooter > h1 {
  font-size: 7vmin;
  font-family: "Roboto";
  color: #eb4034;
}

.midFooter > p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 1vmax auto;
  font-size: 1.5vmax;
}

.rightFooter {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rightFooter > a {
  margin: 0.5vmax;
  font-size: 1.3vmax;
}

.rightFooter > h4 {
  font-family: "Roboto";
  font-size: 1.4vmax;
  text-decoration: underline;
}

.text-red {
  color: red;
}
