div.my-orders-container {
  margin: 10px 30px;
  padding: 20px;
}

section.order-card {
  padding: 20px;
  cursor: pointer;
}

section.order-card > div {
  display: grid;
  grid-template-columns: 150px 1fr 100px 1fr;
}

div.order-product-image > img {
  object-fit: contain;
  height: 75px;
  width: 60px;
}

section.order-card > div > div.price {
  padding-left: 30px;
}

div.price > p {
  font-weight: 600;
  font-size: 32px;
  margin: 0px;
}

div.price > span:first-of-type {
  color: #878787;
}

div.price > span:last-of-type {
  color: green;
  margin: 0 0 0 10px;
}

section.order-card > div > div.highlights li::marker {
  color: #878787;
}

section.order-card > div > div.highlights > div {
  padding-left: 16px;
}

section.order-card > div > div.highlights  > p:hover {
  color: blue;
}
