.product-card {
  padding: 1rem;
  box-sizing: border-box;
  border-width: 0.1rem;
  border-style: solid;
}

.product-details {
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
}

.product-images {
  flex-basis: 50%;
  border: 0.1rem solid whitesmoke;
}

.product-detail {
  flex-basis: 50%;
  padding: 1rem;
  border: 2px solid whitesmoke;
}

.carousel-image {
  width: 100%;
  height: 100%;
}

.product-reviews > h2 {
  text-align: center;
}

.review {
  max-width: 20rem;
  border: 2px;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  border-style: solid;
}

.review > img {
  height: 6rem;
  width: 6rem;
}

.reviews {
  margin: 2rem 0;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  flex-wrap: wrap;
}

.detailBlock-1 p {
  margin: 10px 0;
}

.detailBlock-2 {
  margin: 10px 0;
}

.detailBlock-3 {
  margin: 16px 0;
}

.btn {
  height: 25px;
}

.detailBlock-3 button {
  width: 20px;
}

.detailBlock-3 input[type="number"] {
  display: inline-block;
  max-width: 40px;
  box-sizing: border-box;
}

.detailBlock-3 input[type="button"] {
  width: 120px;
  border-radius: 20px;
  margin: 0 16px;
  background-color: red;
}

.detailBlock-4 button {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  background-color: red;
}

.detailBlock-3 > h3 {
  margin: 14px 0;
  font-size: 30px;
}

.product-detail > p {
  margin: 16px 0;
  font-size: 20px;
}

.detailBlock-4 {
  margin: 16px 0;
}

@media (max-width: 800px) {
  .product-details {
    flex-direction: column;
  }
}

.review p {
  font-size: 1rem;
}
