.search {
  display: grid;
  grid-template-columns: 280px 1fr;
  column-gap: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.page-item {
  list-style: none;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border: 1px solid;
}

.page-item:hover {
  background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
  color: rgb(80, 80, 80);
}

.pagination-box {
  margin: 1vmax;
}

.page-activeItem {
  background-color: tomato;
}

.page-activeLink {
  color: white;
}

div.filter-box {
  margin: 6px 5px;
  padding: 20px 30px;
}

div.products {
  margin: 6px 5px;
}

div.filter-box ul {
  list-style-type: none;
  padding: 0;
}

div.filter-box li:hover {
  color: lightblue;
}

div.filter-box li:active {
  color: blue;
}

div.filter-box li {
  cursor: pointer;
}

div.star-ratings:hover {
  background-color: lightblue;
}

div.star-ratings:active {
  background-color: blue;
}

